@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(150deg, #30f000, #005de7);
}

ul {
  list-style-type: none;
}

.sitename {
  display: flex;
}

h1 {
color: rgb(255, 255, 255);
font-size: 3rem;
margin: 3rem;
}

.container {
  border-radius: 7px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: fit-content;
  background-color: rgba(244, 247, 252, 1);
}

.todo__date {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 1rem;
  font-size: 1.4rem;
  color: rgb(204, 23, 23);
}

.todo__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 280px;
}
  
.todo__input {
  width: 240px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  font-size: 1rem;
}

::placeholder {
  font-size: 1rem;
  color: rgb(190, 190, 190);
  font-style: italic;
}
  
.todo__addBtn {
  width: 40px;
  background-color:rgb(221,221,221);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  font-size: 1.2rem;
}

.todo__addBtn:hover {
  background-color: rgb(31, 44, 221);
  cursor: pointer;
}

.todo__count {
  margin-top: 2rem;
  margin-left: 1rem;
  color: rgb(50, 50, 50);
  font-size: 1.1rem;
  align-self: flex-start;
  font-weight: 600;
}
  
.todo__items, .todo__items--checked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  font-size: 1.1rem;
  border-radius: 7px;
  overflow: hidden;
}

.todo__item, .todo__item--checked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .4rem;
  background-color: rgb(224,232,245);
  padding-top: 0;
  padding-left: .5rem;
  padding-bottom: 0;
  padding-right: 0;
  height: 2rem;
  overflow: hidden;
  border-radius: 7px;
}

.autoHideChecked {
  display: none;
}

.chill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.checked {
  display: flex;
}

.todo__checkbox {
  margin-right: 10px;
}

.item__text {
  flex-grow: 2;
}

.todo__deleteBtn {
  display: flex;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 550;
  transition: .4s ease;
  position: relative;
  bottom: 0;
  left: 20%;
  right: 0;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  background: transparent;
}

.todo__item:hover .todo__deleteBtn {
  overflow: hidden;
  visibility: visible;
  width: 14%;
  left: 0;
}

.fa-trash {
  display: flex;
  align-self: center;
  /* background-color: rgb(235, 84, 84); */
  background: linear-gradient(90deg, rgba(2,0,36,0) 1%, rgba(255,0,0,1) 100%);
  padding: .5rem .8rem;
  height: 100%;
}

.fa-trash:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}

.checked { 
  text-decoration: line-through;
}

.todo__functionBtns {
  margin: 1rem;
}